<p>
  Strutural Equation Modelling (SEM) is a data analytical technique used in health, social, and behavioural sciences, and in education for a range of purposes. These include causal modelling, validation and assessment of psychometric properties of survey instruments, reduction of complexity in data, finding and modelling patterns in data. In this three-hour interactive workshop, the attendees will learn hands-on from scratch how to conduct and assess SEMs: path analysis, confirmatory factor analysis, structural equation, and growth curve modelling (for longitudinal data). No previous experience of statistical data analysis is expected, but please bring a web-accessible laptop computer. Data and tools will be provided along with the free and open-source tools to conduct SEMs. After completion of this workshop, attendees will be able to conduct path analysis and most types of modelling by themselves.
  Participants will be encouraged to help one another and to apply what they have learned to their own research problems. The workshop will follow the principles of data carpentry and will stress how to develop thinking process around these issues. 
</p>
<p align="center">
  <em>
    For more information on data carpentry and how it works, you may want to read the following paper: 
    "<a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005510">Good Enough Practices for Scientific Computing</a>".
  </em>
</p>
