
<div class="row">
  <div class="col-md-6">
    <h3>Proceedings</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
	    </tr>
	    <tr><td> 9:00 AM - 9:10 </td><td> Round of introductions, and setting the scene </td></tr>
	    <tr><td> 9:15 - 9:45 </td><td> Path Model construction and analysis </td></tr>
	    <tr><td> 9:45 - 10:00 </td><td> First stretch and coffee break </td></tr>
	    <tr><td> 10:00-10:45 </td><td> Confirmatory Factor Analysis/Latent Variable Modelling </td></tr>
	    <tr><td> 10:45-10:50 </td><td> A five minute break to stretch out </td></tr>
	    <tr><td> 10:50-11:20 </td><td> Structural Equation Modelling </td></tr>
	    <tr><td> 11:20-11:25 </td><td> 5-minute break to stretch out </td></tr>
	    <tr><td> 11:25-11:50 </td><td> Longitudinal Models </td></tr>
	    <tr>
	<td> 11:50-12:00 </td><td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
  
</div>


